version: "3.8"

name: cannerai

services:
  # Backend Flask Application
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: canner_backend
    environment:
      - DATABASE_URL=mongodb+srv://souradip1000_db_user:UuMUS8w3ioNgGnaT@cluster0.ntltgfz.mongodb.net/?appName=Cluster0
      - MONGODB_DB_NAME=cannerai_db
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - FLASK_APP=app.py
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/__pycache__
    networks:
      - network
    restart: unless-stopped
    command: ["python", "app.py"]

networks:
  network:
    driver: bridge
